@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
    --orange: #fc682e;
    --red: #be0e34;
    --green: #2ccda6;
    --gray-bg: #3b3937;
    --dark-gray-bg: #232120;
    --gray-3: #1c1a19;
    --gray-buttons: #949494;
    --soft-grey-bg: #eaeeef;
    --text: #232120;
    --lines: #eaeeef;
    --white: #fff;
    --icons: #c4c4c4;
    --yellow: #e7a23c;
    --secondary-text: #5c5c5c;
    --line-dark-mode: #575554;
}

body {
    background-color: var(--soft-grey-bg);
    font-family: "Open Sans", sans-serif;
}

p {
    margin: 0;
}
.button {
    all: unset;
}
.button:hover {
    all: unset;
}

.orange-dicoration {
    display: block;
    background: var(--orange);
    width: 49px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.column.main {
    padding-top: 55px;
    margin-top: 65px;
}

.header.content.header_custom_content {
    width: 100%;
    height: 78px;
    padding: 0;
}

.page-header {
    width: 100%;
}

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__l) {
    .header.content {
        max-width: none;
    }
}

.custom-wrapper_header {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.header_left_side_wrapper {
    width: 50%;
}

.header_left_side {
    display: flex;
    margin-left: auto;
    max-width: 960px;

    .nav_list {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;

        gap: 40px;
        margin-top: auto;
        margin-bottom: auto;
        height: 78px;
        margin-right: 56px;

        a {
            text-decoration: none;
            color: #d0cfce;
        }
    }
}

.header_right_side_wrapper {
    width: 50%;
    background-color: var(--dark-gray-bg);
}

.header_right_side {
    display: flex;
    background-color: var(--dark-gray-bg);
    max-width: 960px;
    .svg-icon-list ul {
        display: flex;
        gap: 40px; /* Расстояние между иконками */
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.product-item {
    position: relative;
    background-color: var(--white);
    width: 360px;
}
.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__l) {
    .wishlist-index-index .product-item-info {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 90px;
        height: 440px;
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__l) {
    .wishlist-index-index .products-grid .product-item {
        width: 360px;
    }
}

.product-image-container {
    width: 360px;
}

.product-image-photo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.product-item-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-gray-bg);
}

.rating-summary .rating-result > span:before {
    color: #fbb732;
}

.price-box.price-final_price .price {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-gray-bg);
}

.field.qty {
    display: none;
}

.action.tocart.primary {
    display: flex;
    border-radius: 40px;
    background-color: var(--orange);
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.custom-btn-remove {
    position: absolute;
    top: 16px;
    right: 16px;
}

.product-reviews-summary.short {
    margin-left: auto;
    margin-right: auto;
}

.product-item-inner {
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 17px;

    margin-top: 20px;
}
.action.tocompare::before {
    display: none;
}
// ////////////////////////////////////////Header

// .media-width(@extremum, @break)
//     when
//     (@extremum = "min")
//     and
//     (@break = @screen__m) {
//     .header.content {
//         max-width: 10000px;
//         padding: 0;
//         width: 50%;
//         margin: 0;
//         background-color: var(--dark-gray-bg);
//     }
//     .logo {
//         margin: 0;
//         padding-left: 64px;
//     }

//     .page-main {
//         max-width: 1444px;
//         padding: 0;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

// .header_content_custom {
//     width: 50%;
//     background-color: var(--gray-bg);
//     display: flex;
// }

// .nav_list {
//     list-style: none;
//     display: flex;
//     gap: 40px;
//     height: 100%;
//     li {
//         margin-top: auto;
//         margin-bottom: auto;
//     }
// }

// .nav_menu {
//     margin-left: auto;
//     margin-right: 56px;
//     font-weight: 600;
//     font-size: 16px;
//     text-transform: uppercase;
//     color: #d0cfce;
// }

// //////////////////////////////////////////////////Header right side

.svg_list {
    width: 220px;
    margin-left: 56px;
    height: 78px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.svg-icon-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.svg-icon-list ul {
    display: flex;
    gap: 40px; /* Расстояние между иконками */
    padding: 0;
    margin: 0;
    list-style: none;
}

.svg-icon-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
}

.svg-icon-list a {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: inherit; /* Наследуем цвет, чтобы текст ссылок не выделялся */
}

.svg-icon-list svg {
    width: 24px; /* Маленький размер иконок */
    height: 24px; /* Маленький размер иконок */
    display: inline-block;
}

.minicart-wrapper .action.showcart {
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 80px;
    gap: 40px;
}

.leng {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: var(--icons);
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-transform: uppercase;
    p {
        margin: 0;
    }
}

.actions .action.search {
    display: none;
    fill: #1c1a19;
}

// ///////////////////////////////////////// custom-breadcrumbs

// .custom-breadcrumbs {
//     position: absolute;
//     top: 96px;
//     left: 80px;
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     width: 100%;
//     margin-top: 16px;
// }

// .custom-breadcrumbs span {
//     display: flex;
//     align-items: center;
//     gap: 5px;
// }

// .custom-breadcrumbs span svg {
//     width: 16px;
//     height: auto;
//     fill: #bab9b8;
// }

// .custom-breadcrumbs span:last-child {
//     font-weight: bold;
// }

// // drop style
// .account .page-title-wrapper .page-title {
//     margin-right: auto;
// }
// //
// ////////////////////////////////////////////////Title

.page-title-wrapper {
    margin-bottom: 42px;
}
.page-title {
    display: block;
    margin-left: auto;
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-gray-bg);
}

.toolbar.wishlist-toolbar {
    display: none;
}

////////////////////////////////////////////////////////////////////

.product-items {
    display: flex;
    flex-wrap: wrap;
    width: 1443px;
    gap: 1px;
}
.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__l) {
    .wishlist-index-index .products-grid .product-item {
        margin-left: 0;
        margin-bottom: 0;
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__m) {
    .page-main {
        max-width: 1920px;
        padding: 0;
        width: auto;
    }
}

/////////////////////////////////////////////////////////////////////

.actions-toolbar {
    display: flex;
    justify-content: center;
}

.action.tocart {
    display: flex;
    border-radius: 40px;
    background-color: var(--orange);
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    align-items: center;
    justify-content: center;
}

// ////////////////////////////////////////////////////////////// Advantages
.advantages-container {
    background-color: var(--gray-bg);
    align-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 80px;
    padding-right: 100px;
}

.advantages-title {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.advantages-list {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9f9f9f;
    justify-content: space-between; /* Распределяет товары равномерно */
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 60px;
}

.advantages-list-item {
    align-items: center;
}

.advantages-list-title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

// /////////////////////////////////////////////////////////////

// .buy_btn_wrapper {
//     position: relative;
//     display: flex;
//     margin-top: 60px;
//     margin-bottom: 140px;
//     align-items: center;
//     justify-content: center;
// }

// .sum-text {
//     position: absolute;
//     top: 12px;
//     left: 0;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 144%;
//     color: var(--dark-gray-bg);
// }
// .sum-text-b {
//     font-weight: 600;
//     line-height: 133%;
//     text-transform: uppercase;
// }

// .buy-button.buy_btn {
//     padding: 15px 30px;
// }
// //////////////////////////////////////////////////////////////////// footer
a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родителя */
    background: none; /* Убираем фоновый цвет или изображение */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    border: none; /* Убираем рамки */
}
a:visited {
    color: #9f9f9f;
}

.custom-wishlist-footer {
    background-color: var(--dark-gray-bg);
    display: flex;
    margin-bottom: auto;
}

.custom-wishlist-footer-wrapper {
    width: 68%;
    padding-top: 88px;
    display: flex;
    flex-direction: column;
}

.custom-wishlist-footer_list {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 20px;
}

.footer_list_title {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 30px;
}

.footer_section_list {
    font-weight: 400;
    font-size: 18px;
    color: #9f9f9f;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-3);
    padding: 40px 47px 40px 80px;
    font-weight: 400;
    font-size: 12px;
    color: #9f9f9f;
    align-items: center;
    margin-top: auto;
}

.footer-copyright_list {
    display: flex;
    gap: 30px;
    align-items: center;
    li {
        margin-bottom: 0;
    }
}

.sosial-list {
    display: flex;
    gap: 13px;
}

/////////////////////////////////////////////////

.footer-feedbeck {
    background-image: url(../../images/bg.jpg);
    background: linear-gradient(135deg, #001a00, #4d3b00, #000000);
    width: 32%;
    margin-left: auto;
    padding-top: 88px;
    padding-bottom: 85px;
}

.footer-feedbeck-title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.footer-feedbeck-text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--white);
    margin-bottom: 56px;
    width: 410px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

#custom-input-id {
    display: block;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    padding: 10px 0;
    outline: none;
    width: 410px;
    font-size: 16px;
    color: #000;
    transition: border-color 0.3s;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.custom-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

.custom-input:focus {
    border-bottom-color: #007bff;
}

.footer-feedbeck-btn {
    display: block;
    border-radius: 40px;
    width: 410px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #d0cfce;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}

.footer-feedbeck-btn:hover {
    background: transparent;
    color: var(--orange);
}
