.custom_addtocart_btn {
    color: red;
    background-color: orange;
    padding-left: 52px;
    padding-right: 52px;
}

.custom_addtocart_btn:hover {
    background-color: rgb(153, 102, 6);
}

//Анімація для картки товару

.product-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.product-image-photo {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.product-image-photo:hover {
    transform: scale(1.1);
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
